{% extends 'web/base.html' %}
{% load registration_tags %}

{% block body_block %}
<div class="login-content">
    <div class="lc-block" id="l-forget-password">
        <div class="lcb-float"><i class="zmdi zmdi-pin-account"></i></div>
        <form name="login" method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.email.errors }}
            <small class="m-b-15 d-block">Enter your email address and we'll send you instructions for resetting your password.</small>
            <div class="form-group">
                {{ form.email|add_class:"form-control" }}
            </div>
            <a href="javascript:document.login.submit()" class="btn btn-block btn-warning">Reset Password</a>
        </form>
        <ul class="login-navigation">
            <li data-block="#l-login" class="bg-blue"><a href="/login/">Login</a></li>
            <li data-block="#l-register" class="bg-green">Register</li>
        </ul>
    </div>
</div>
{% endblock %}