{% extends 'web/base.html' %}
{% load registration_tags %}

{% block body_block %}
<div class="col-sm-6">
    {% if validlink %}
    {% if form.errors %}
    <div class="alert alert-danger">
        <p>
            {% if form.errors.items|length == 1 %}
            Please correct the error below.
            {% else %}
            Please correct the errors below.
            {% endif %}
        </p>
    </div>
    {% endif %}
    <form name="reset" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12 text-info">
                Enter your new password twice so we can verify you typed it in correctly.
            </div>
        </div>
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
            <div class="col-sm-8">
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                <span class="text-danger">{{ field.errors|join:"<br/>" }}</span>
                {% endif %}
                {% if field.help_text %}
                <span class="help-block">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <a href="javascript:document.reset.submit()" class="btn btn-info">Change my password</a>
            </div>
        </div>
    </form>

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}
</div>
{% endblock %}