<div class="row">
    <div class="col-xs-1">
        <p ng-click="vm.loadMembers(letter)" class="member-menu" ng-repeat="letter in vm.alphabet">{{ letter }}</p>
    </div>
    <div class="col-xs-11">
        <p class="member-list" ng-repeat="member in vm.members">
            <a href="/profile/{{ member.user_id }}/">{{ member.first_name }} {{ member.last_name }}</a>
            <a href="mailto:{{ member.email }}" ng-show="member.show_email">{{ member.email }}</a>
            <span ng-show="member.show_phone">{{ member.phone_number }}</span>
        </p>
    </div>
</div>