{% extends 'web/base.html' %}

{% block style_block %}
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/calendar.css' %}"/>
{% endblock %}

{% block body_block %}
    <event-calendar></event-calendar>
{% endblock %}

{% block script_block %}
    <script src="{% static 'web/app/events/Day.js' %}"></script>
    <script src="{% static 'web/app/events/Calendar.js' %}"></script>
    <script src="{% static 'web/app/events/eventData.js' %}"></script>
    <script src="{% static 'web/app/events/eventService.js' %}"></script>
    <script src="{% static 'web/app/events/event-calendar.js' %}"></script>
{% endblock %}
