{% extends 'web/base.html' %}

{% block body_block %}
    {% load markdownify %}
    <div>
        {% if event.event_state == "registration" %}
            <a href="/event/{{ event.id }}/register/" class="btn btn-warning">Register Now</a>
        {% endif %}
        <h1>{{ event.name }}</h1>
        <p><strong>Event date:</strong> {{ event.start_date }}</p>
        {% if event.event_state == "future" or event.event_state == "registration" %}
            <p><strong>Registration open:</strong> {{ event.signup_start }} - {{ event.signup_end }}</p>
        {% endif %}
        {% if event.event_state == "pending" %}
            <p>Registration has closed. <a href="/event/{{ event.id }}/teetimes/">See tee times.</a></p>
        {% endif %}
        {% if event.event_state == "past" %}
            <p><a href="/event/{{ event.id }}/results/">View event results</a></p>
        {% endif %}
        <h2>{{ event.get_event_type_display }}</h2>
        <div>{{ event.description|markdownify|safe }}</div>
        <h2>Event Details</h2>
        <p><strong>Event fee:</strong> {{ event.event_fee }}</p>
        {% if event.skins_type != "N" %}
        <p><strong>{{ event.get_skins_type_display }} Skins:</strong> {{ event.skins_fee }}</p>
        {% endif %}
        <p><strong>Group size:</strong> {{ event.group_size }}</p>
        <p><strong>Season long points:</strong> {{ event.season_points }}</p>
        <h3>Notes</h3>
        <div>{{ event.notes|markdownify|safe }}</div>
    </div>
{% endblock %}